@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

:root {
  --shadow: rgba(0, 0, 0, 0.2);
  --darkshadow: rgba(0, 0, 0, 0.65);
  --textshadow: rgba(50, 50, 70, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 900px;
  margin: 0 auto;
  background-color: #5b5b5c;
  font-family: 'Roboto', sans-serif;
}

.app {
  background-image: url('./assets/cold.png');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
}

.app.warm {
  background-image: url('./assets/sun.png');
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, var(--shadow), var(--darkshadow));
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  border: none;
  outline: none;
  border-radius: 16px;
  box-shadow: 0px 5px var(--shadow);

  color: #ffffff;
  font-size: 20px;
  transition: 0.4ms ease;
}

.search-box .search-bar:focus {
  background-color: var(--darkshadow);
}

.location-box .location {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px var(--textshadow);
}

.location-box .date {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  /* text-shadow: 2px 2px rgba(202, 202, 202, 0.5); */
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  color: #FFF;
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;
  font-size: 102px;
  font-weight: 900;
  text-align: center;
  text-shadow: 3px 6px var(--textshadow);
  box-shadow: 3px 6px var(--shadow);
}

.weather-box .weather {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px var(--textshadow);
}
